---
- name: Ensure cattle-system namespace exists
  command: kubectl get namespace {{ rancher_namespace }}
  register: cattle_ns
  failed_when: false
  changed_when: false

- name: Create cattle-system namespace
  command: kubectl create namespace {{ rancher_namespace }}
  when: cattle_ns.rc != 0

- name: Deploy or upgrade Rancher
  command: >
    helm upgrade --install rancher {{ rancher_helm_repo_name }}/rancher
    --namespace {{ rancher_namespace }}
    --create-namespace
    --wait
    --timeout 1200s
    --set hostname={{ rancher_hostname }}
    --set replicas={{ rancher_replicas }}
    --set bootstrapPassword={{ rancher_bootstrap_password }}
    --set ingress.tls.source=rancher
  register: rancher_helm
  changed_when: "'Release \"rancher\" has been upgraded' in rancher_helm.stdout
                 or 'Release \"rancher\" has been installed' in rancher_helm.stdout"

