---
- name: Wait for Rancher pods to be Ready
  command: >
    kubectl -n {{ rancher_namespace }} get pods --no-headers
  register: rancher_pods
  changed_when: false
  retries: 40
  delay: 15
  until:
    - rancher_pods.rc == 0
    - rancher_pods.stdout != ""
    - rancher_pods.stdout is search("Running")
    
- name: Display Rancher URL
  debug:
    msg: "Rancher is available at: https://{{ rancher_hostname }}"
