---
# Minimal post-deploy checks

- name: Check Rancher deployment pods
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    namespace: "{{ rancher_namespace }}"
    label_selectors:
      - "app=rancher"
  register: rancher_pods

- name: Show Rancher pods status
  debug:
    var: rancher_pods.resources | map(attribute='status.phase') | list

- name: Display Rancher URL
  debug:
    msg: "Rancher is deploying at https://{{ rancher_hostname }}"
